.logo-link {
 display: flex;
 gap: 10px;
 align-items: center;
}

.logo-container {
 display: flex;
 align-items: flex-start;
 flex-direction: column;
 color: var(--black);
 text-transform: uppercase;
 font-weight: bold;
 line-height: 1;
}

.first-name {
 font-size: 18px;

}

.last-name {
 font-weight: normal;
}