.loginBlock {
  position: relative;
  border-radius: 10px;
  display: inline-block;
}

.login {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--blue);
  padding: 8px 12px;
  cursor: pointer;
  transition: background ease .3s;
}

.loginBlock:hover {
  background: var(--btn--primary-hover);
  transition: background ease .3s;
}

.dropdownContainer {
  position: absolute;
  top: -16px;
  right: -16px;
  width: 250px;
  z-index: 9999;
}

.spacer {
  height: 70px; /* отступ вниз */
}

.loginToggle {
  background-color: var(--white);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
  z-index: 1;
  border-radius: 20px;
  padding: 10px;
}

.loginToggleUl {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.loginToggleLi {
  position: relative;
  height: 56px;
  color: var(--black);
  display: block;
  border-radius: 10px;
}

.loginToggleLi:hover {
  background-color: var(--page-bg);
}

.loginToggleImg {
  width: 24px;
  margin-right: 10px;
}

.loginToggleA {
  color: var(--black);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  text-decoration: none;
}

.loginFlex {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}

@media (max-width: 1194px) {
  .loginText {
    display: none;
  }
}
